encryption = "gpg"
progress = true

[data]
    git_name = "{{ onepasswordRead "op://Private/Personal/Identification/first name" }} {{ onepasswordRead "op://Private/Personal/Identification/last name" }}"
    git_email = "{{ onepasswordRead "op://Private/Personal/Internet Details/email" }}"
    gpg_email = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/email" }}"
    gpg_key = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/Fingerprint" }}"
    gpg_shortkey = "{{ onepasswordRead "op://Private/Personal/Identification/GPG Key" }}"
    atuin_username = "{{ onepasswordRead "op://Private/Atuin/username" }}"
    atuin_password = "{{ onepasswordRead "op://Private/Atuin/password" }}"
    atuin_key = "{{ onepasswordRead "op://Private/Atuin/Encryption Key" }}"
    xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"

[git]
    autoCommit = true
    autoPush = false
    encryption = "gpg"

[status]
    exclude = ["scripts"]

[gpg]
    recipient = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/email" }}"
    args = ["--quiet"]

[merge]
command = "ksdiff"
args = [
  "--merge",
  "--output", "{{ "{{ .Source }}" }}",
  "{{ "{{ .Destination }}" }}",
  "{{ "{{ .Target }}" }}"
]

[diff]
    pager = "diff-so-fancy"
    command = "/opt/homebrew/bin/ksdiff"
    args = ["--wait", "--diff", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
    exclude = ["scripts", "externals"]

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]

[scriptEnv]
    PATH = "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
