encryption = "gpg"
progress = true

[git]
  autoPush = true
  encryption = "gpg"

[gpg]
  recipient = "alberth@matos.cc"
  args = ["--quiet"]

[data]
    gpgKey = "5FC8FE1141FA769594E91E48F41BDBF6171A3BB4"

[merge]
  command = "/opt/homebrew/bin/ksdiff"

[diff]
  pager = "diff-so-fancy"
  command = "/opt/homebrew/bin/ksdiff"
  args = ["--diff", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
  exclude = ["scripts", "externals"]

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]
