encryption = "gpg"
progress = true

[data]
    git_name = "{{ onepasswordRead "op://Private/Personal/Identification/first name" }} {{ onepasswordRead "op://Private/Personal/Identification/last name" }}"
    git_email = "{{ onepasswordRead "op://Private/Personal/Internet Details/email" }}"
    gpg_email = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/email" }}"
    gpg_key = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/Fingerprint" }}"
    gpg_shortkey = "{{ onepasswordRead "op://Private/Personal/Identification/GPG Key" }}"

[git]
    autoPush = true
    encryption = "gpg"

[gpg]
    recipient = "{{ onepasswordRead "op://Private/u46qnn7wobabvk3tbbleqmor4u/email" }}"
    args = ["--quiet"]

[merge]
    command = "/opt/homebrew/bin/ksdiff"
    args = ["--merge", "--output", "{{ "{{ .Target }}" }}", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}"]

[diff]
    pager = "diff-so-fancy"
    command = "/opt/homebrew/bin/ksdiff"
    args = ["--wait", "--diff", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
    exclude = ["scripts", "externals"]

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
