# source : https://wiki.archlinux.org/index.php/OpenSSH

# Use a faster cipher: on modern CPUs with AESNI instructions
Ciphers aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

# Keep ssh connectio nalive by sending a keep-alive signal to the server if no data has been received for some time
# ServerAliveInterval Controls the interval between the requests for response sent from the client to the server
ServerAliveInterval 120

include 1Password/config

Host *
{{- if eq .chezmoi.os "darwin" }}
    # 1Password agent
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    # Allow MacOS to use the keychain for SSH key passphrases
    UseKeychain yes
{{- else if eq .chezmoi.os "linux" }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
    # Forward ssh agent to the remote machine.
    ForwardAgent yes
    AddKeysToAgent yes
    SetEnv TERM=xterm-256color

Host muninn.home.matos.cc muninn
    User pi

Host github.com
    User git
