@import "frappe.css";

@define-color noti-border-color @peach;
/* @define-color noti-bg rgba(0, 0, 0, 0.8); */
/* @define-color noti-bg-alt #111111; */
@define-color noti-bg-hover @base;
@define-color text-color @text;
/* @define-color text-color-alt @mauve; */
@define-color text-color-disabled rgba(150, 150, 150, 0.8);
* {
    font-family: "SFMono Nerd Font Mono";
    font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @base;
    border-radius: 10px;
}

.notification-row {
    outline: none;
    margin: 0px;
}

.notification {
    border-radius: 10px;
}

.notification-content {
    color: @text;
    background: @base;
    padding: 3px 10px 3px 6px;
    border-radius: 10px;
    border: 1px solid @peach;
    margin: 0px;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.close-button {
    background: @base;
    color: @text;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: @base;
    transition: all 0.15s ease-in-out;
    border: none;
}

.notification-action {
    border: 1px solid @peach;
    border-top: none;
    border-radius: 10px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @text;
    background: @base;
}

.notification-default-action {
    border-radius: 10px;
    margin: 5px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: @base;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: @base;
}

.inline-reply {
    margin-top: 8px;
}

.inline-reply-entry {
    background: @base;
    color: @text;
    caret-color: @text;
    border: 1px solid @peach;
    border-radius: 10px;
}

.inline-reply-button {
    font-size: 0.5rem;
    margin-left: 4px;
    background: @base;
    border: 1px solid @peach;
    border-radius: 10px;
    color: @text;
}

.inline-reply-button:disabled {
    background: @base;
    color: @text;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: @base;
}

.body-image {
    margin-top: 6px;
    color: @text;
    border-radius: 10px;
}

.summary {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: @text;
    text-shadow: none;
}

.time {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: @text;
    text-shadow: none;
    margin-right: 18px;
}

.body {
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    color: @text;
    text-shadow: none;
}

.control-center {
    background: @base;
    border: 1.5px solid @peach;
    color: @text;
    border-radius: 10px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1);
}

.widget-title {
    color: @peach;
    background: @base;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.widget-title > button {
    font-size: 0.75rem;
    color: @text;
    border-radius: 10px;
    background: transparent;
    border: 0.5px solid @peach;
}

.widget-title > button:hover {
    background: #f7768e;
    color: @peach;
}

.widget-dnd {
    background: @base;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: @text;
}

.widget-dnd > switch {
    border-radius: 10px;
    /* border: 1px solid #7aa2f7; */
    background: @base;
}

.widget-dnd > switch:checked {
    background: @base;
    border: 1px solid @peach;
}

.widget-dnd > switch slider {
    background: @base;
    border-radius: 10px;
}

.widget-dnd > switch:checked slider {
    background: @base;
    border-radius: 10px;
}

.widget-label {
    margin: 5px;
}

.widget-label > label {
    font-size: 1rem;
    color: @text;
}

.widget-mpris {
    color: @text;
    background: @base;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
}

.widget-mpris > box > button {
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 3px 6px;
    margin: 5px;
}

.widget-mpris-title {
    font-weight: 100;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-size: 0.75rem;
}

.widget-buttons-grid {
    font-size: large;
    color: @peach;
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
    background: @base;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 1px;
    background: @base;
    border-radius: 10px;
    color: @text;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @peach;
    color: @base;
}

.widget-menubar > box > .menu-button-bar > button {
    border: none;
    background: transparent;
}

.topbar-buttons > button {
    border: none;
    background: transparent;
}

.widget-volume {
    background: @base;
    padding: 2px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text;
}

.widget-volume > box > button {
    background: @base;
    border: none;
}

.per-app-volume {
    background-color: @base;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px;
    color: @text;
}

.widget-backlight {
    background: @base;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text;
}

.low {
    background: @text;
    padding: 0px;
    border-radius: 10px;
}

.normal {
    background: @text;
    padding: 0px;
    border-radius: 10px;
}

.critical {
    background: red;
    padding: 0px;
    border-radius: 10px;
}
