@define-color rosewater #dc8a78;
@define-color flamingo #dd7878;
@define-color pink #ea76cb;
@define-color mauve #8839ef;
@define-color red #d20f39;
@define-color maroon #e64553;
@define-color peach #fe640b;
@define-color yellow #df8e1d;
@define-color green #40a02b;
@define-color teal #179299;
@define-color sky #04a5e5;
@define-color sapphire #209fb5;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color text #4c4f69;
@define-color subtext1 #5c5f77;
@define-color subtext0 #6c6f85;
@define-color overlay2 #7c7f93;
@define-color overlay1 #8c8fa1;
@define-color overlay0 #9ca0b0;
@define-color surface2 #acb0be;
@define-color surface1 #bcc0cc;
@define-color surface0 #ccd0da;
@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;

window {
  background: @base;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: @surface0;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 10px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 2px;
	border-color: @overlay2
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: @overlay2;
	border-radius: 2px;
}

button:focus {
	box-shadow: none
}
