@import "latte.css";


* {
    font-family: "SFMono Nerd Font Mono", "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: large;
/*    border: 0px;*/
/*    border-radius: 3px;*/
/*    min-height: 11px;*/
/*    margin: 0px;*/
    /* margin: 1px; */
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
/*    background: @base;*/
    background: rgba(0,0,0,0);
    color: @text;
/*    border-bottom: 0px solid @surface0;*/
/*    border: 0px solid @surface0; */
    border-radius: 13px;
    padding: 0px;
    margin: 0px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

window#waybar.hidden {
    opacity: 0.5;
}

#waybar.empty #window {
    background: none;
}

.modules-left, .modules-center, .modules-right {
    background: @base;
    border: 0px solid @base;
    padding: 0px 0px;
    border-radius: 13px;
    margin: 0px 0px;
}

#idle_inhibitor,
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#wireplumber,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#custom-waybar-mpris,
#window,
#submap,
#network {
    padding: 0px 0px;
}

#tray {
    border-radius: 13px;
    border: 3px solid @overlay1;
    padding: 0px 10px;
    background-color: @surface0;
/*    box-shadow: inset 0 0px @overlay1;    */
}
#idle_inhibitor {
    color: @subtext1;
    border-radius: 13px;
    border: 3px solid @subtext1;
    padding: 0px 0px;
    background-color: @surface0;

}

#backlight {
    color: @subtext1;
}

#battery {
    color: @green;
}

@keyframes blink {
    to {
        color: @surface0;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -3px transparent;
}

#clock {
    color: @rosewater;
    border-radius: 13px;
    border: 3px solid @rosewater;
    padding: 0px 10px;
    background-color: @surface0;
}

#cpu {
    color: @flamingo;
    border-radius: 13px;
    border: 3px solid @flamingo;
    padding: 0px 10px;
    background-color: @surface0;

}

#memory {
    color: @sky;
    border-radius: 13px;
    border: 3px solid @sky;
    padding: 0px 10px;
    background-color: @surface0;
}

#disk {
    color: @teal;
    border-radius: 13px;
    border: 3px solid @teal;
    padding: 0px 10px;
    background-color: @surface0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#workspaces button {
    color: @subtext0;
    background-color: @surface0;
}

#workspaces button:hover {
    color: @subtext0;
    background-color: @surface2;
    box-shadow: inset 0 -3px @subtext0;
}

#workspaces button.persistent {
    color: @surface2;
    background-color: @surface0;
}

#workspaces button.active {
    color: @peach;
    background-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
    background-color: @surface0;
    box-shadow: inset 0 -3px red;

}

#workspaces button:not(.empty):not(.active) {
    color: @mauve;
    background-color: @surface0;
    box-shadow: inset 0 -1px @mauve;

}

#custom-menu {
    color: @rosewater;
    border-radius: 13px;
    border: 3px solid @rosewater;
    padding: 0px 10px;
    background-color: @surface0;

}

#custom-power {
    color: @red;
    border-radius: 13px;
    border: 3px solid @red;
    padding: 0px 0px;
    background-color: @surface0;
}

#custom-updater {
    color: @maroon;
    border-radius: 13px;
    border: 3px solid @maroon;
    padding: 0px 10px;
    background-color: @surface0;
}

#custom-uptime {
    color: @text;
    border-radius: 13px;
    border: 3px solid @text;
    padding: 0px 10px;
    background-color: @surface0;

}

#custom-weather {
    color: @lavender;
    border-radius: 13px;
    border: 3px solid @lavender;
    padding: 0px 10px;
    background-color: @surface0;
}

#custom-vpn_check {
    box-shadow: inset 0 0px @sky;
    color: @sky;
}

#custom-cputemp {
    color: @teal;
    border-radius: 13px;
    border: 3px solid @teal;
    padding: 0px 10px;
    background-color: @surface0;
}

#wireplumber {
    color: @sapphire;
    border-radius: 13px;
    border: 3px solid @sapphire;
    padding: 0px 10px;
    background-color: @surface0;

}

#wireplumber.bluetooth {
    color: @pink;
    border-radius: 13px;
    border: 3px solid @pink;
    padding: 0px 10px;
    background-color: @surface0;
}

#wireplumber.muted {
    color: @red;
    border-radius: 13px;
    border: 3px solid @red;
    padding: 0px 10px;
    background-color: @surface0;

}

#window {
    color: @mauve;
    border-radius: 13px;
    border: 3px solid @mauve;
    padding: 0px 10px;
    background-color: @surface0;

}

#custom-waybar-mpris {
    color: @lavender;
    box-shadow: inset 0 -3px @lavender;
}

#network {
    color: @teal;
    border-radius: 13px;
    border: 3px solid @teal;
    padding: 0px 10px;
    background-color: @surface0;
}

#network.disconnected,
#network.disabled {
    color: @text;
    border-radius: 13px;
    border: 3px solid @text;
    padding: 0px 10px;
    background-color: @surface0;

}

#custom-arch {
    color: @text;
    border-radius: 13px;
    border: 3px solid @text;
    padding: 0px 0px;
    background-color: @surface0;
}
